/* This is a CSS file */
@import url('https://fonts.googleapis.com/css?family=Roboto');

button{
  width: 35% !important;
  font-size: 22px;
  margin-top: 2%;
  background: none;
  border: 1px solid black;
  border-radius: 10px;
  padding: 15px;
  background-color: rgb(177, 19, 19);
  color: white;
}

.resposta{
  font-family: 'Roboto', sans-serif;
  font-size: 20;
  letter-spacing: 2px;
  font-weight: bold;
}

.espaco{
  margin: 50% 0; 
}

h3{
  font-size: 30px;
}

a{
  text-decoration: none;
}

.navbar{
  background-color: rgb(177, 19, 19);
  color: white;
}


.rodape{
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
	height: 150px;
	background-color: black;
	color: white;
	text-align: center;
	padding-top: 25px;

  font-family: arial;
  width: 100%;
}